{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>설문 상세 페이지</title>
    <link rel ="stylesheet" href = "{% static 'poll/css/style.css' %}" >
</head>
<body>
    <div id ="container">
        <section>
            <form action="{% url 'poll:vote' question.id %}" method="post">
                {% csrf_token %}
                <h2>{{ question.question_text }}</h2>
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
                {% for choice in question.choice_set.all %}
                <p>
                    <input type="radio" name="choice" id="choice" value="{{ choice.id }}">
                    <label for="choice">{{ choice.choice_text }}</label>
                </p>
                {% endfor %}
                <p><input type="submit" value="투표"></p>
            </form>
        </section>
    </div>
</body>
</html>